body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  list-style: none;
  height 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

/* .main-header - start */


.site-navigation {
  margin: 0;
  padding: 0; 
  display: flex;
}

.site-navigation-item {
  list-style: none;
  width: 20%;
  padding: 22px 55px;;
  }

.welcome-logo {
  display: inline-block;
  width: 100%;
  height: 773px;
  object-fit: contain;
  background-size: cover;
  background-image: url('background-photo.png');
}

.welcome-logo:after {
    content: url(welcome.svg);
    display: block;
    margin: 0 auto;
    width: 50%;
    position: relative;
    top: 50px;
    z-index: 9999999;
}

.site-navigation-link {
  color: #000000;
  text-decoration: none;
  padding-top: 22;
}

.logo {
  width: 140px;
  height: 71px;
  object-fit: contain;
}

.site-logo{
  list-style: none;
  width: 20%;
}


a {
  text-decoration: none;
}

.site-navigation-logo {
  display: flex;
  justify-content: center;
}

.site-navigation-logo img{
  position: absolute;
}

/* .main-header - end */

/* main - start */

.main-title {
  height: 48px;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #000000;
}

.main-text-5 {
  white-space: nowrap;
  margin: auto;
  padding:
  width: 489px;
  height: 13px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1.86;
  color: #333333;
}

.main-title-other {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  color: #333333;
  line-height: 1.71;
  text-align: center;
}

.main-text {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.2;
  color: #000000;
}

/* main - end */

/* form - start */

.form{
  height: 410px;
  display: grid;
  margin: 0 auto;
}

.search-table {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 86px;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #ffffff;
  background-color: #766357;
}

.half-width {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

.divclass {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

.people-info{
  display: flex;
}

#adults, #children {
    width: 20px;
    border: 1px solid gray;
    background: #f2f2f2;
}

.quantity-dults {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

.quantity-children {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

.input-date{
  width: 78%;
  float: right;
}

/* form - end */

/* main-footer - start */
.main-footer{
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
  border-top: 1px solid; 
}

.main-footer-contacts {
  width: 136px;
  height: 16px;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #000000;
}

.main-footer-social{
  text-align: center
}

.main-footer-social-link{
  display: flex;
  justify-content: space-around;
}

.main-footer-social-button{
  list-style: none;
  display: inline-block;
}

.main-footer-social-link .fa {
    background-color: #81b3d2;
    color: #FFF;
    padding: 10px;
}

.footer-copyright-text {
  width: 74px;
  height: 11px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1.86;
  color: #000000;
}

.footer-copyright-link {
  width: 115px;
  height: 41px;
  object-fit: contain;
}


/* main-footer - end */


.w-50{
  width: 50%;
}

.w-30{
  width: 30%;
}

.w-70{
  width: 70%;
}

form {
  width: 568px;
  margin: 0 auto;
  padding: 20px;

  border-radius: 10px;
  box-shadow: 0 0 10px #cccccc;
}
  .send-button{
    width: 458px;
    height: 58px;
    background-color: #81b3d2;
    color: #FFF;
    border: none;
    font-size: 1.35em;
  }

  .text-center{
    text-align: center;
  }